header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
    small {
        display: none;
    }
     header {
    background: url('media/pao.png') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
  #pao{
  	background-image: url();
  }
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('media/pao.png') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
h1{
	text-shadow: 4px 4px #000000;
}

.navbar-default{
	background: linear-gradient(20deg, rgba(23,23,23,1) 25%, rgba(83,81,86,1) 65%);
	padding: 20px;
	color:white;
	font-family: 'Dancing Script', cursive;
}
#about{
	background-color: black;
}
.asd{
	padding: 20px;
	color: 
}
#pao{
	background-image: url(media/fundo2.png);
	background-repeat: no-repeat;
}